<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="button">
        <a href="/"><button>Tilbake til menyen</button></a>
    </div>
    <div class="grid_container">
        <div class="farger">
            <h1>Farger</h1>
            <div class="fargerRow">
            <div class="fontFarge1">Hvit</div>
            <div class="fontFarge2">Sort</div>
            <div class="fontFarge3">Hover: Darkgray</div>
            <div class="fontFarge4">"Pizza"brun</div>
        </div>
        <h2>Farge for bakgrunn</h2>
        <div class="fargerRow">
            <div class="fontFarge1">Hvit</div>
            <div class="fontFarge2">Sort</div>
            <div class="fontFarge3">Hover: Darkgray</div>
            <div class="fontFarge4">"Pizza"brun</div>
        </div>

    </div>
        <div class="farger">
            <h1>fonts</h1>
        </div>
        <div class="farger"></div>
        <div class="farger"></div>
    </div>
</body>
</html>