<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarReturns</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="/images/fixit">
</head>
 
<body class="body1">
    <header>
        <div class="logo">StarReturns</div>
    </header>
 
    <nav>
        <ul>
            <li><a href="/designprofil">Designet på nettsiden vår!</a></li>
            <li><a href="/loggut">Logg ut!</a></li>
        </ul>
    </nav>
 
    <main>
        <aside>
            <h3>Populære spill</h3>
            <ul>
                <li><a href="/pizzaclicker">Pizza Clicker</a></li>
                <li><a href="/tictactoe_menu">Tic Tac Toe</a></li>
 
            </ul>
        </aside>
        <section class="gallery">
            <div class="game">
                <a href="/pizzaclicker">
                    <img src="../static/img/pizza3.png" alt="Bilde av en pizza som fører deg til pizza clicker spillet når du trykker">
                    <h4>Pizza Clicker</h4>
                    <p>Våres eget clicker spill inspirert av Cookie Clicker</p>
                </a>
            </div>
            <div class="game">
                <a href="/tictactoe_menu">
                    <img src="../static/img/tictactoe.png" alt="Bilde av et tictactoe spill som fører deg til tictactoe spillet når du trykker">
                    <h4>Tic Tac Toe</h4>
                    <p>En av klassikerne, våres eget Tic Tac Toe spill!</p>
                </a>
            </div>
        </section>
    </main>
 
    <footer>
        <p>&copy; 2025 SpillSide. Alle rettigheter reservert.</p>
    </footer>
</body>
 
</html>