
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star games</title>
    <link rel="stylesheet" href="../static/menu.css">
    <link rel="icon" type="image/x-icon" href="/images/fixit">
</head>
<body>
    <header>
        <div class="logo">StarReturns</div>
        <div class="search-bar">
            <input type="text" placeholder="Søk etter spill...">
            <button>Søk</button>
        </div>
    </header>

    <main>
        <aside>
            <h3>Populære spill</h3>
            <ul>
                <li><a href="pizzaclicker">Pizza Clicker</a></li>
                <li><a href="tictactoe">TicTacToe</a></li>

            </ul>
        </aside>
        <section class="gallery">
            <div class="game"><a href="/pizzaclicker">
                <img src="../static/img/pizza3.png" alt="a clicker game ">
                <h4>Pizza Clicker</h4>
                <p>Our own Clicker game inspired from Cookie clicker</p></a>
            </div>
            <div class="game"><a href="/tictactoe">
                <img src="" alt="one of the classics, Tictactoe!">
                <h4>TicTacToe</h4>
                <p>One of the classics, our own tictactoe!</p></a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 SpillSide. Alle rettigheter reservert.</p>
    </footer>

</body>
</html>