<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg inn</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="button">
        <a href="/"><button>Tilbake til menyen</button></a>
    </div>
    <form method="POST">
        <label for="email">E-post:</label>
        <input type="email" id="email" name="email" required>
 
        <label for="passord">Passord:</label>
        <input type="password" id="passord" name="passord" required>
 
        <button type="submit">Logg inn</button>
        <a href="/registrer">Har du ikke bruker?</a>
    </form>
</body>
</html>
 
 