<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Clicker Game</title>
    <link rel="stylesheet" href="../static/pizzaClicker.css">
</head>

<body>
    <div class="button-container">
        <a href="index.htm"><button>Tilbake til menyen</button></a>
    </div>
    <h2>Pizza Clicker Game</h2>

    

    <p>Score:<div id="scoreDisplay">0</div></p>
    <img id="pizza" src="../img/pizza3.png" alt="Pizza">

    <!-- Manual save button -->
    <button onclick="saveClicks()">Save Clicks</button>

    <!-- Feedback message for saving -->
    <p id="saveStatus"></p>





    <script src="../static/pizzaClicker.js"></script>
</body>

</html>