<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Clicker Game</title>
    <link rel="stylesheet" href="../static/pizzaClicker.css">
</head>

<body>
    <!-- Knapp for å gå tilbake til menyen -->
    <div class="button-container">
        <a href="/home"><button>Tilbake til menyen</button></a>
    </div>

    <!-- Tittel -->
    <h2>Pizza Clicker Game</h2>


    <!-- Viser scoren -->
    <p>Score: <span id="scoreDisplay">0</span></p>

    <!-- Pizza-element -->
    <img id="pizza" src="../static/img/pizza3.png" alt="Pizza">


    <!-- Manual save button -->

    <button onclick="saveClicks()">Save Clicks</button>

    <!-- Feedbackmelding for lagring -->
    <p id="saveStatus"></p>

    <button id="upgrade1">Tomato sauce PPS(+1) - Cost: 10</button>
    <button id="upgrade2">Cheese PPS(+5) - Cost: 50</button>
    <!-- Lenke til JavaScript-koden -->
    <script src="../static/pizzaClicker.js"></script>
</body>

</html>