<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Clicker Game</title>
    <link rel="stylesheet" href="../static/pizzaClicker.css">
</head>

<body>
    <!-- Knapp for å gå tilbake til menyen -->
    <div class="button-container">
        <a href="/"><button>Tilbake til menyen</button></a>
    </div>

    <div class="display">
        <!-- Tittel -->
        <h2>Pizza Clicker Game</h2>
        <!-- Viser scoren -->
        <p>Pizzaer: <span id="scoreDisplay">0</span></p>
        <p>PHS (Pizza hvert sekund): <span id="PHS">(+0/sek)</span></p>

        <img id="pizza" src="../static/img/pizza3.png" alt="Pizza">

        <button onclick="saveClicks()">Save Clicks</button>
        <!-- Pizza-element -->
        <div class="flex">

            <div class="upgrade-container">
                <button id="upgrade1">Tomato sauce (PHS) </button>
                <div class="tooltip" id="tooltip1">Cost: 10 | Gives: +1
                    PHS</div>
            </div>

            <div class="upgrade-container">
                <button id="upgrade2">Cheese (PHS)</button>
                <div class="tooltip" id="tooltip2">Cost: 50 | Gives: +3
                    PHS</div>
            </div>

            <div class="upgrade-container">
                <button id="upgrade3">Pepperoni (PHS) </button>
                <div class="tooltip" id="tooltip3">Cost: 100 | Gives: +5
                    PHS</div>
            </div>
        </div>
    </div>
    <div class="upgrade-container ppc-button">
        <button id="PHC1">Pizza ansatt PHC</button>
        <div class="tooltip" id="tooltip4">Cost: 300 | Gives: +1 PHC</div>
    </div>
    <div class="upgrade-container ppc-button">
        <button id="PHC2">Pizza ansatt 2 PHC</button>
        <div class="tooltip" id="tooltip5">Cost: 3000 | Gives: +2 PHC</div>
    </div>
    <div id="noPizzaPopup" class="popup">
        <p>Du har ikke nok pizzaer!</p>
    </div>
    <!-- Feedbackmelding for lagring -->
    <p id="saveStatus"></p>
    <!-- Lenke til JavaScript-koden -->
    <script src="../static/pizzaClicker.js"></script>
</body>

</html>