<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Mode Selection</title>
    <link rel="stylesheet" href="../static/tictactoe.css">

</head>
<div class="button">
    <a href="/"><button>Tilbake til menyen</button></a>
</div>

<body>
    <div class="container">
        <button class="button singleplayer" onclick="location.href='/tictactoe_ai'">Singleplayer</button>
        <button class="button twoplayer" onclick="location.href='/tictactoe'">Two Player</button>
    </div>
</body>

</html>