<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Mode Selection</title>
    <link rel="stylesheet" href="../static/tictactoe.css">

</head>

<body>
    <div class="container">
        <button class="button singleplayer" onclick="location.href='tictactoe-ai.htm'">Singleplayer</button>
        <button class="button twoplayer" onclick="location.href='tictactoe.htm'">Two Player</button>
    </div>
</body>

</html>